node_modules
.next

#amplify files
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
out/
dist/
aws-exports.js
awsconfiguration.json
