@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Source Code Pro', sans-serif;
}

html, body, div#__next, #main {
  height: 100%;
  width: 100%;
}
